[submodule "qlf"]
	path = qlf
	url = https://github.com/desihub/qlf.git
[submodule "desispec"]
	path = desispec
	url = https://github.com/desihub/desispec.git
[submodule "desiutil"]
	path = desiutil
	url = https://github.com/desihub/desiutil.git
